#contact_modal {
    display: none;
}

.photographer-price-and-likes{
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #DB8876;
    width: 300px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 30px;
    border-radius: 5px 5px 0 0;
}

.photographer-price-and-likes p{
    margin: 0px;
}

.photographer-price-and-likes .photographer-price-and-likes-left{
    display: flex;
}

.photographer-price-and-likes .picture-likes-img {
    width: 25px;
    height: 25px;
    filter: brightness(0%);
}

#contact_modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

#contact_modal #message {
    resize: none;
    height: 150px;
    width: 100%;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.photograph-header img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.photograph-header h1 {
    color: #D3573C;
    font-size: 64px;
    line-height: 0px;
    font-weight: 400;
}

.photograph-header h2 {
    color: #901C1C;
    font-size: 24px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

main .photographer-pictures {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin: 100px;
    color: #901C1C;
    font-size: 20px;
}

main .photographer-pictures .picture .picture-likes-img{
    width: 30px;
    height: 30px;
    margin: 24px 5px;
}

main .photographer-pictures .video .picture-likes-img{
    width: 30px;
    height: 30px;
    margin: 24px 5px;
}

main .photographer-pictures .video .overlay-play{
    width: 150px;
    height: 150px;
    padding: 6%;
    position: absolute;
}

main .photographer-pictures .picture .leftDesc{
    display: flex;
    font-weight: 400;
}

main .photographer-pictures .picture .rightDesc{
    display: flex;
    font-weight: 500;
}

main .photographer-pictures .video .leftDesc{
    display: flex;
    font-weight: 400;
}

main .photographer-pictures .video .rightDesc{
    display: flex;
    font-weight: 500;
}

main .photographer-pictures .picture img{
    width: 400px;
    height: 400px;
    border-radius: 3%;
    object-fit: cover;
}

main .photographer-pictures .video video{
    width: 400px;
    height: 400px;
    border-radius: 3%;
    object-fit: cover;
}

main .photographer-pictures .picture .picture-infos{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .photographer-pictures .video .picture-infos{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}